<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/872673ab28.js" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://ddkb.in/VGhpcyBwcm9qZWN0IGlzIGRldmVsb3BlZCBhbmQgb3duZWQgYnkgRGV2YW5hbmQgYW5kIGhpcyB0ZWFtIG1lbWJlcnMgRGhpbmVzaCBLb21lc2ggVmVsdXJ1IEJhbGFqaQ=="></script>

    <link rel="stylesheet" href="../static/index.css">
    <link rel="shortcut icon" href="../static/img/favicon_1.ico?v=7" type="image/x-icon">

    <title>Gestura: The Sign Language Translator</title>

    <!-- SAFE FIX ADDED -->
    <script>
        const server = {
            on_rec: function () {
                return true;
            }
        };
    </script>
</head>

<body class="body_trans">

    <div class="nav_head">
        <div class="nav_title"><h1 style="font-weight: 600; margin-top: 22px;">Gestura: The Sign Language Translator</h1></div>
        <div class="icons">
            <ul class="header-list">
                <li class="header-list-elements"><a class="link-tag" id="profile_page" href='profile'>Profile</a></li>
                <li class="header-list-elements"><a class="link-tag" href="/about">About</a></li>
                <li class="header-list-elements"><a class="link-tag" href="/home">Home</a></li>
                <li class="header-list-elements"><a class="link-tag" href="https://github.com/sonalikaaaaa/sign-language-translator" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            </ul>
        </div>
    </div>

    <div class="home_page">

        <div class="main_page">
            <div class="main_btn">
                <div class="main_btn_head">
                    <h2 style="font-size: 2.5vw; font-weight: 600; margin:40px 0px;">
                        Gestura<br>
                        powered by A.I. for specially abled<br>
                    </h2>
                </div>
                <div class="main_btn_msg">
                    <p style="margin:0px;">
                        Sign language is a visual-manual method of communication that relies on handshapes, movements, and non-manual signals.
                    </p>
                </div>
                <div class="main_btn_foot">

                    <!-- FIXED LINE HERE -->
                    <a href="choice" onclick="return server.on_rec()">START TRANSLATE</a>

                </div>
            </div>

            <div class="main_img">
                <img style="width:80%;" src="../static/img//sign_lang_1.png" alt="sign lang">
            </div>
        </div>

        <div class="main_content">

            <div class="sign_cont">
                <div class="sign_txt">
                    <h1>What is sign language?</h1>
                    <p>
                        A primary form of manual communication, sign language is used by individuals who are deaf...
                    </p>
                </div>
                <div class="sign_cont_img">
                    <img src="../static/img/ppl.jpg" width="680px" height="450px" alt="ppl">
                </div>
            </div>

            <div class="problem_cont">
                <img src="../static/img/deaf.jpg" alt="">
                <div class="problem_txt">
                    <h1>How do we solve the problem?</h1>
                    <p>
                        Communication between hearing and Deaf individuals usually requires an interpreter...
                    </p>
                </div>
            </div>

            <div class="pro_cont">
                <div class="pro_txt">
                    <h1>Project Description</h1>
                    <p>
                        In our society, we have people with disabilities...
                    </p>
                </div>
                <div class="pro_img">
                    <img src="../static/img/modelCNN.png" alt="cnn">
                </div>
            </div>

            <div class="slide_cont">
                <div class="slide_head">
                    <h1 style="font-size: 5vw; font-weight: 600; margin:50px 0px;">Output Preview</h1>
                </div>
                <img src="../static/img/output.png" alt="out">
            </div>

            <div class="tech_cont">

                <div class="tech_txt">
                    <h1 style="font-size: 5vw; font-weight: 600; margin:50px 0px">Technology Stack</h1>
                </div>

                <div class="tech_double_con">
                    <div class="slide_main_tech">
                        <div class="carousel slide" id="banner" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="5000">
                                    <img src="../static/img/front-end-gif.gif" class="w-100 d-block h-25">
                                </div>
                                <div class="carousel-item" data-bs-interval="5000">
                                    <img src="../static/img/back-end-gif.gif" class="w-100 h-25 d-block">
                                </div>
                                <div class="carousel-item" data-bs-interval="5000">
                                    <img src="../static/img/Ml.gif" class="w-100 d-block">
                                </div>
                            </div>
                            <button class="carousel-control-prev" data-bs-target="#banner" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>
                            <button class="carousel-control-next" data-bs-target="#banner" data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </button>
                            <div class="carousel-indicators">
                                <button class="active" data-bs-slide-to="0" data-bs-target="#banner"></button>
                                <button data-bs-slide-to="1" data-bs-target="#banner"></button>
                                <button data-bs-slide-to="2" data-bs-target="#banner"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tech_img">
                    <br><br><br>
                    <img src="../static/img/html_icon.png" alt="HTML">
                    <img src="../static/img/css_icon.png" alt="CSS">
                    <img src="../static/img/javascript_logo.png" alt="JAVASCRIPT">
                    <img src="../static/img/python_icon.png" style="padding:24px;" alt="PYTHON">
                    <img src="../static/img/flask-logo.png" style="padding:14px 10px;" alt="FLASK">
                    <img src="../static/img/tensorflow_logo.png" style="padding:24px;" alt="TENSORFLOW">
                    <img src="../static/img/OpenCV_logo.png" style="padding:24px;" alt="OPENCV">
                    <img src="../static/img/mediapipe.png" alt="MEDIAPIPE">
                </div>

            </div>

        </div>

    </div>

    <footer>
        <p id="copyrights" style="color: #474E68; font-size:15px; text-align:center; margin-top:20px;"></p>
    </footer>

    <script>
        const d = new Date();
        document.getElementById("copyrights").innerHTML = "Copyright © " + d.getFullYear();
    </script>

</body>
</html>
